@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/* L'étoile donnne du style à TOUS les éléments */

/* * {
    margin: 0;
    padding: 0;
} */

* {
    border: solid red;
}

body{
    background-image: url(../assets/img/bg.png); 
    min-height: 100vh;
}

h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /* Les tailles de poilices doivent être en REM */
    font-size: 2.5rem;  /*on peux remplacer l'unité rem par l'unité viewport width (vw) pour que le titre soit responsive cela nous évite de lui créer une media queries*/
    text-shadow: 4px 4px 20px #0000004d;
    color: rgb(255, 0, 179);
    /* text-decoration: underline; */
    font-family: 'Oswald', sans-serif;
}

main{
    min-height: 500px;
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    border: 8px solid rgb(255, 90, 205);
    border-radius: 12px;
    box-shadow: 0 0 10px 0px rgb(255, 0, 179);
    padding: 15px;
}

h2{
    margin: 0;
}

/* FLEXBOX */

.flexbox,
.grid,
.absolute {
    border: 2px solid skyblue;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgb(255, 0, 179);
    padding: 10px;
    margin-top: 20px;
    min-height: 150px;
}

.flexbox ul{
    padding: 0;
    display: flex;
    justify-content: space-around;

}

.flexbox li {
    list-style: none;
    height: 120px;
    width: 130px;
    margin: 10px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* GRID */
.grid-container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.grid img{
    width: 100%;
    margin: 20px auto;
    display: block;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2"
    "ta ta"
    "vi bt";
}

input, textarea {
    margin: 5px;
    border: 1px solid rgb(255, 0, 179);
    padding: 10px;
    font-size: 1rem;
    font-family: Oswald;
    border-radius: 5px;
}

textarea {
    grid-area: ta;
    height: 40px;
    resize: none;
}

#btn-envoyer {
    grid-area: bt;
    cursor:pointer;
    background-color: pink;
    transition: 0.2s
}

#btn-envoyer:hover {
    background-color: rgb(255, 77, 106);
}

/* ABSOLUTE */

/* Sans l'élément en relative, de base, l'élément 
en absolute l'est par rapoort au body */

/* Il faut mettre une position relative 
au parent pour contrainde l'élément en 
absolute dans dans ses frontières */

.absolute { 
    position: relative;
}

#circle1 {
    height: 60px;
    width: 60px;
    background-color: pink;
    position: absolute;
    border-radius: 150px;
    top: 0;
    right: 0;
}

#circle2 {
    height: 40px;
    width: 40px;
    background-color: rgb(255, 80, 109);
    position: absolute;
    border-radius: 150px;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
}

/* RESPONSIVE */

@media screen and (max-width: 900px) {
    .grid-container {
        display: block;
    }
    .grid-container img {
        width: 60%;

    }
}


@media screen and (max-width: 600px) {
    form{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "i1"
        "i2"
        "ta"
        "bt";
    }
}

@media screen and (max-width: 600px) {
    .flexbox ul{
        flex-direction: column;
        align-items: center;
    }
}